In [75]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [76]:
asset1=pd.read_csv('2330台積電.csv')
asset2=pd.read_csv('2912統一超.csv')
asset3=pd.read_csv('2845遠東銀.csv')

In [99]:
#設定投資組合權重與投資總資金
#將歷史資料整理為dataframe
date=asset1.交易[2:13]
s1=asset1.收盤[2:13]
s2=asset2.收盤[2:13]
s3=asset3.收盤[2:13]
#權重
w1=0.5
w2=0.3
w3=0.2
p=w1*s1+w2*s2+w3*s3
#總資金
i=1000000
#分別股數
share1=i/p
f= {
    "date": date,
    "portfolio": p,
    "2330": s1,
    "2912": s2,
    "2845": s3
}
data = pd.DataFrame(f)
print(w1,w2,w3)
data

0.5 0.3 0.2

     date  portfolio   2330   2912   2845
2   6月10日     346.49  530.0  264.0  11.45
3    6月9日     352.30  541.0  265.0  11.50
4    6月8日     354.27  544.0  266.5  11.60
5    6月7日     349.76  535.0  266.5  11.55
6    6月6日     352.58  540.0  267.5  11.65
7    6月2日     351.21  540.0  263.0  11.55
8    6月1日     356.75  549.0  266.5  11.50
9   5月31日     364.97  560.0  275.5  11.60
10  5月30日     356.40  547.0  268.5  11.75
11  5月27日     348.17  530.0  269.5  11.60
12  5月26日     340.15  514.0  269.5  11.50

In [78]:
#計算報酬率並整理為dataframe
return_=data
for i in range(2,12):
    return_.portfolio[i]=(return_.portfolio[i+1]-return_.portfolio[i])/return_.portfolio[i]
    return_['2330'][i]=((data['2330'][i]-data['2330'][i+1])/data['2330'][i+1])
    return_['2330'][i]=float(return_['2330'][i])*100
    return_['2912'][i]=(data['2912'][i]-data['2912'][i+1])/data['2912'][i+1]
    return_['2912'][i]=float(return_['2912'][i])*100
    return_['2845'][i]=(data['2845'][i]-data['2845'][i+1])/data['2845'][i+1]
    return_['2845'][i]=float(return_['2845'][i])*100
print('單位:(%)')
return_[0:10]

單位:(%)

C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_.portfolio[i]=(return_.portfolio[i+1]-return_.portfolio[i])/return_.portfolio[i]
C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_['2330'][i]=((data['2330'][i]-data['2330'][i+1])/data['2330'][i+1])
C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_['2330'][i]=float(return_['2330'][i])*100
C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_['2912'][i]=(data['2912'][i]-data['2912'][i+1])/data['2912'][i+1]
C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_['2912'][i]=float(return_['2912'][i])*100
C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_['2845'][i]=(data['2845'][i]-data['2845'][i+1])/data['2845'][i+1]
C:\Users\lxy09\AppData\Local\Temp/ipykernel_15312/3287753653.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return_['2845'][i]=float(return_['2845'][i])*100

     date  portfolio      2330      2912      2845
2   6月10日   0.016768 -2.033272 -0.377358 -0.434783
3    6月9日   0.005592 -0.551471 -0.562852 -0.862069
4    6月8日  -0.012730  1.682243  0.000000  0.432900
5    6月7日   0.008063 -0.925926 -0.373832 -0.858369
6    6月6日  -0.003886  0.000000  1.711027  0.865801
7    6月2日   0.015774 -1.639344 -1.313321  0.434783
8    6月1日   0.023041 -1.964286 -3.266788 -0.862069
9   5月31日  -0.023481  2.376600  2.607076 -1.276596
10  5月30日  -0.023092  3.207547 -0.371058  1.293103
11  5月27日  -0.023035  3.112840  0.000000  0.869565

In [96]:
date_list=[]
p1=[]
p2=[]
p3=[]
v=[] #portfolio
for i in range(10):
    #date設定
    k=10+i+1
    k=str(k)
    d='6月'+k+'日'
    date_list.append(d)
    #模擬資產價格
    j=i+2
    a1=s1[2]*(1+return_['2330'][j]*0.01)
    a2=s2[2]*(1+return_['2912'][j]*0.01)
    a3=s3[2]*(1+return_['2845'][j]*0.01)
    p1.append(a1)
    p2.append(a2)
    p3.append(a3)
    v.append(w1*a1+w2*a2+w3*a3)

In [97]:
f_pre= {
    "date": date_list,
    "portfolio": v,
    "2330": p1,
    "2912": p2,
    "2845": p3
}
data_pre = pd.DataFrame(f_pre)
data_pre

    date   portfolio        2330        2912       2845
0  6月11日  340.793005  519.223660  263.003774  11.400217
1  6月12日  344.563083  527.077206  262.514071  11.351293
2  6月13日  350.957857  538.915888  264.000000  11.499567
3  6月14日  343.720565  525.092593  263.013084  11.351717
4  6月15日  347.864960  530.000000  268.517110  11.549134
5  6月16日  341.115544  521.311475  260.532833  11.499783
6  6月17日  338.677606  519.589286  255.375681  11.351293
7  6月18日  354.823559  542.595978  270.882682  11.303830
8  6月19日  354.725735  547.000000  263.020408  11.598060
9  6月20日  354.758940  546.498054  264.000000  11.549565

In [102]:
dv=[p[2]]
dp1=[s1[2]]
dp2=[s2[2]]
dp3=[s3[2]]
for i in range(9):
    d=v[i+1]-v[i]
    d1=p1[i+1]-p1[i]
    d2=p2[i+1]-p2[i]
    d3=p3[i+1]-p3[i]
    dv.append(d)
    dp1.append(d1)
    dp2.append(d2)
    dp3.append(d3)
f_diff= {
    "date": date_list,
    "portfolio": dv,
    "2330": dp1,
    "2912": dp2,
    "2845": dp3
}
data_diff = pd.DataFrame(f_diff)
data_diff

In [110]:
def status(x) : 
    return pd.Series([x.quantile(.90),x.min(),x.idxmin(),x.quantile(.25),x.median(),
                      x.quantile(.75),x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),
                      x.std(),x.skew(),x.kurt()],index=['Risk at Value','最小值','最小值位置','25%分位數',
                    '中位數','75%分位數','均值','最大值','最大值位數','平均絕對偏差','方差','標準差','偏度','峰度'])

In [112]:
p1=dp1[1:9]
a1=dp1[1:9]
a2=dp2[1:9]
a3=dp3[1:9]
df = pd.DataFrame(np.array([p1]).T, columns=['portfolio'])
df.head()
df.apply(status)

                portfolio
Risk at Value   15.189085
最小值            -13.823295
最小值位置            2.000000
25%分位數          -3.463773
中位數              4.655715
75%分位數           8.849830
均值               3.472043
最大值             23.006692
最大值位數            6.000000
平均絕對偏差           8.662534
方差             135.388254
標準差             11.635646
偏度               0.122853
峰度               0.018750